.popup__submit-button {
    border: 0;
    position: relative;
    margin: 0 auto;
    width: 358px;
    min-height: 50px;
    margin-top: 48px;
    background: #000000;
    border-radius: 2px;
}
.popup__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .popup__submit-button {
      width: 238px;
      margin-top: 45px;
    }
  }