.page {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    min-width: 320px;
    background: black;
    margin: 0 auto;
    font-family: 'Inter', "Arial", sans-serif;
}